* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.main {
    margin-top: 180px;
    text-align: center;
    width: 100%;
    padding: 0;
    
}

.btn-div{
   
    text-align: center;
}

@media only screen and (min-width: 576px){
    .form-div {
        width: 70%;
        margin: auto;
    }

    
}

@media only screen and (min-width: 1000px){
    .form-div {
        width: 50%;
        margin: auto;
    }

    
}

legend {
    color: darkblue;
    text-align: left;
    margin-bottom: 20px;
}